.box {
    margin-top: 20rem;
    width: 20rem;
    height: 20rem;
    background-color: rgb(132, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}